<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Consultar Categorias</title>
   	<link rel="stylesheet" href="/css/consultar/padraoDeConsulta.css">
    <link rel="stylesheet" href="/css/paginas/fonteDeCores.css">
	<link rel="stylesheet" href="/css/paginas/header.css">
</head>
<body>
	<header th:insert="~{/paginas/header :: header}"></header>
	 <main>
        <div class="container-table">
            <h1>Consulta de Categorias</h1>
            <button class="button-consulta" type="button" id="excluir" disabled>Excluir</button>
            <button class="button-consulta" type="button" id="editar" disabled>Editar</button>
            <table id="tableCategorias" class="display" style="width: 100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="category : ${category}">
                        <td th:text="${category.id}"></td>
                        <td th:text="${category.name}"></td>
                        <td th:text="${category.active} ? 'Ativo' : 'Inativo'"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <script src="/scripts/paginas/home.js"></script>
</body>
</html>