<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Consultar Produtos</title>
	<link rel="stylesheet" href="/css/consultar/padraoDeConsulta.css">
    <link rel="stylesheet" href="/css/paginas/fonteDeCores.css">
	<link rel="stylesheet" href="/css/paginas/header.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
</head>
<body>
	<header th:insert="~{/paginas/header :: header}"></header>
	<main>
		<div class="container-table">
			<h1>Consulta de Produtos</h1>
            <button class="button-consulta" type="button" id="excluir">Excluir</button>
            <button class="button-consulta" type="button" id="editar">Editar</button>
            <table id="tableProdutos" class="display" style="width: 100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Marca</th>
                        <th>Preço</th>
                        <th>Estoque</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${products}" th:data-id="${product.id}">
                        <td th:text="${product.id}"></td>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.category.name}"></td>
                        <td th:text="${product.brand.name}"></td>
                        <td th:text="${product.price}"></td>
                        <td th:text="${product.stock}"></td>
                        <td th:text="${product.active ? 'Ativo' : 'Inativo'}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
	</main>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
	<script src="/script/paginas/home.js"></script>
	<script src="/script/cadastrar/cadastrarProduto.js"></script>
</body>
</html>