<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Consultar Marcas</title>
	<link rel="stylesheet" href="/css/consultar/padraoDeConsulta.css">
    <link rel="stylesheet" href="/css/paginas/fonteDeCores.css">
	<link rel="stylesheet" href="/css/paginas/header.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
</head>
<body>
	<header th:insert="~{/paginas/header :: header}"></header>
	<main>
		<div class="container-table">
			<h1>Consulta de Marcas</h1>
			<button class="button-consulta" type="button" id="excluir" disabled>Excluir</button>
			<button class="button-consulta" type="button" id="editar" disabled>Editar</button>
			<table id="tableMarcas" class="display" style="width: 100%">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nome</th>
						<th>E-mail</th>
						<th>Telefone</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="brand : ${brands}">
						<td th:text="${brand.id}"></td>
						<td th:text="${brand.name}"></td>
						<td th:text="${brand.mail}"></td>
						<td th:text="${brand.phone}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
	<script src="/script/paginas/home.js"></script>
	<script src="/script/consultar/consultarMarca.js"></script>
</body>
</html>