<div th:fragment="header">
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li class="dropdown">
                <a href="#">Cadastro</a>
                <ul class="dropdown-menu">
                    <li><a href="/product/cadastrar" target="_blank">Cadastro de Produtos</a></li>
                    <li><a href="/brand/cadastrar" target="_blank">Cadastro de Marcas</a></li>
                    <li><a href="/category/cadastrar" target="_blank">Cadastro de Categorias</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Consulta</a>
                <ul class="dropdown-menu">
                    <li><a href="/product/consultar" target="_blank">Consulta de Produtos</a></li>
                    <li><a href="/brand/consultar" target="_blank">Consulta de Marcas</a></li>
                    <li><a href="/category/consultar" target="_blank">Consulta de Categorias</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>