<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Cadastro de Produto</title>
	<link rel="stylesheet" href="/css/cadastrar/padraoDeCadastro.css">
	<link rel="stylesheet" href="/css/fonteDeCores.css">
</head>
<body>
	<!-- <header th:insert="~{/pages/header :: header}"></header> -->
	<main>
		<div class="container-form">
			<h1>Cadastro de Marcas</h1>
			<form th:action="@{/product/salvar}" th:object="${product}" method="post" id="productForm">
				<div>
					<label for="id">Id:</label>
					<input type="number" id="id" th:field="*{id}" placeholder="Id" readonly/>
				</div>
				<div>
					<label for="name">Nome:</label>
					<input type="text" id="name" th:field="*{name}" placeholder="Nome do Produto" required/>
				</div>
				<div>
                    <label for="category">Categoria:</label>
                    <select id="category" th:field="*{category}" required>
                        <option value="" selected>Selecione uma categoria...</option>
                        <option th:each="category : ${categories}" 
                                th:value="${category.id}" 
                                th:text="${category.name}"></option>
                    </select>
				</div>
                <div>
                    <label for="brand">Marca:</label>
                    <select id="brand" th:field="*{brand}" required>
                        <option value="" selected>Selecione uma marca...</option>
                        <option th:each="brand : ${brands}" 
                                th:value="${brand.id}" 
                                th:text="${brand.name}"></option>
                    </select>
                </div>
				<div>
					<label for="active">Status:</label>
					<select th:field="*{active}" class="form-select" aria-label="Selecione um status...">
						<option value="" selected>Selecione um status...</option>
						<option value="true">Ativo</option>
						<option value="false">Inativo</option>
					</select>
				</div>
				<div class="div-button">
                    <button type="submit">Salvar</button>
                    <button type="reset">Limpar</button>
                </div>
			</form>
			<div th:if="${error}" class="alert alert-danger">
                <p th:text="${error}"></p>
            </div>
		</div>
	</main>
</body>
</html>