.container-table {
    background-color: var(--branco);
    padding: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-table h1 {
    margin-bottom: 1em;
    color: var(--preto);
    text-align: center;
}


.button-consulta {
    background-color: var(--azul-escuro);
    color: var(--branco);
    border: none;
    padding: 0.7em;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    margin-right: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.button-consulta:disabled {
    background-color: var(--buttons-disable);
    border: none; 
    cursor: not-allowed; 
}

.button-consulta:hover {
    background-color: var(--fundo-botao);
    color: var(--branco);
}

.paginate_button:hover {
    background: var(--azul-escuro-padrao) !important;
    color: var(--branco) !important;
    border-color: var(--azul-escuro-padrao) !important;
}

.container-table .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.container-table .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: var(--branco) !important;
}

.container-table .dataTables_wrapper .dataTables_paginate .paginate_button:active {
    background: var(--buttons-hover) !important;
    color: var(--branco) !important;
    border-color: var(--buttons-hover) !important;
}

#tableProdutos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
}

/* Cabeçalho da tabela */
#tableProdutos thead {
    background-color: var(--azul-claro);
}

#tableProdutos th {
    padding: 1em;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

#tableProdutos td {
    padding: 1em;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#tableProdutos td, #tableProdutos th {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.paginate_button:hover {
    background: var(--azul-escuro-padrao) !important;
    color: var(--branco) !important;
    border-color: var(--azul-escuro-padrao) !important;
}

.container-table .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.container-table .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: var(--branco) !important;
}

.container-table .dataTables_wrapper .dataTables_paginate .paginate_button:active {
    background: var(--buttons-hover) !important;
    color: var(--branco) !important;
    border-color: var(--buttons-hover) !important;
}

.container-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tableProdutos th, #tableProdutos td {
    text-align: left;
}

#tableProdutos th:nth-child(1), #tableProdutos td:nth-child(1) {
    text-align: center;
}

#tableProdutos th:nth-child(5), #tableProdutos td:nth-child(5) {
    text-align: right;
}

#tableProdutos th:nth-child(6), #tableProdutos td:nth-child(6),
#tableProdutos th:nth-child(7), #tableProdutos td:nth-child(7) {
    text-align: center;
}

#tableMarcas th, #tableMarcas td {
    text-align: left; /* Padrão para todas as células */
}

#tableMarcas th:nth-child(1), #tableMarcas td:nth-child(1) {
    text-align: center;
}

#tableMarcas th:nth-child(2), #tableMarcas td:nth-child(2),
#tableMarcas th:nth-child(3), #tableMarcas td:nth-child(3),
#tableMarcas th:nth-child(4), #tableMarcas td:nth-child(4) {
    text-align: left;
}

.selected {
    background-color: #f0f8ff;
    font-weight: bold;
}

